
@model Network.UI.Infrastructure.Configuration.NetworkTestConfiguration
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Network Test</h1>
    <h3>Environment - @Html.DisplayFor(model => model.ApplicationVersion)</h3>
</div>