@model Network.Tester.Models.Winery



<tr>
    <td>@Html.DisplayFor(model=> model.WineryId)</td>
    <td>@Html.DisplayFor(model => model.WineryName)</td>
    <td>@Html.DisplayFor(model => model.StreetAddress)</td>
</tr>